.fas.fa-star {
  padding: 2px;
}

p.rating {
  padding-right: 4px;
}

p.card-date {
  color: $medium-grey;
  text-align-last: right;
}

.profile-img{
  border-radius: 17px;
  height: 200px;
  position: relative;
  i{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 27px;
  }
}

.fa-heart{
  margin-top: 3.5px;
  margin-right: 3.5px;
}
