.fas.fa-star {
  padding: 2px;
  color: $dark-green;
}

p.rating {
  padding-right: 4px;
}

p.card-date {
  color: $medium-grey;
  text-align-last: right;
}

.profile-img{
  border-radius: 17px;
  height: 200px;
  position: relative;
  background-size: cover;
  background-position: center;;
  background-repeat: no-repeat;
  i{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 27px;
  }
}

.rating-location{
  margin-top: 12px;
}

.fa-heart{
  margin-top: 3.5px;
  margin-right: 3.5px;
  color: $dark-green;
}

img.instafeed {
  margin-bottom: 12px !important;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

.instafeed {
  h4{
    text-align: center !important;
    padding: 6px !important;
  }
}

p.review-text{
  margin-bottom: 0.5rem !important;
}

p.rate-range{
  color: $spanish-grey;
  border-radius: 16px;
  background: rgba(0,117,57,0.5);
  padding: 4px 8px;
  width: fit-content;
  font-size: 14px;
}

