.fas.fa-star {
  padding: 2px;
  color: $dark-green;
}

p.rating {
  padding-right: 4px;
}

p.card-date {
  color: $medium-grey;
  text-align-last: right;
}

.profile-img{
  border-radius: 17px;
  height: 200px;
  position: relative;
  background-size: cover;
  background-position: center;;
  background-repeat: no-repeat;
  i{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 27px;
  }
}

.fa-heart{
  margin-top: 3.5px;
  margin-right: 3.5px;
  color: $dark-green;
}

img.instafeed {
  margin-bottom: 12px !important;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}
