<nav class="navbar navbar-dark bg-info navbar-expand d-md-none d-lg-none d-xl-none fixed-bottom">
    <ul class="navbar-nav nav-justified w-100">
      <li class="nav-item">
        <i class="fas fa-search"></i><a href="#" class="nav-link">Explore</a>
      </li>
      <li class="nav-item">
        <i class="far fa-heart"></i><a href="#" class="nav-link">Saved</a>
      </li>
      <li class="nav-item">
        <i class="far fa-handshake"></i><a href="#" class="nav-link">Bookings</a>
      </li>
      <li class="nav-item">
        <i class="far fa-comment-alt"></i><a href="#" class="nav-link">Inbox</a>
      </li>
      <li class="nav-item">
        <i class="far fa-user"></i><a href="#" class="nav-link">Profile</a>
      </li>
    </ul>
  </nav>
