.list_card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 17px;

  .profile-link {
    padding: 4px;
  }
  
  .list_card-bg {
    width: 120px;
    min-width: 120px;
    position: relative;
    border-radius: 17px;
    background-size: cover;
  }
  
  a{
    height: 100%;
  }

  .review-link {
    height: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px 4px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 100%;
  }

  .modal-status-toggler {
    background: none;
    border: 0;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    color: #0E0000;
  }
}

.list_card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.list_card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.list_card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.list_card .list_card-info {
  padding: 16px;
}
